@import "@commonVars";

.home {
    &-section {
        text-align: center;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .intro {
        &-picture {
            display: block;
            max-width: 150px;
            border-radius: 100%;
            margin: 0 auto 20px;
        }

        .smiley {
            font-size: 22px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 20px;

            span {
                padding: 0 4px;
            }
        }

        .liveCounter {
            opacity: 0;
            transition: 450ms ease-out;
            font-style: italic;
            color: var(--grey);

            &.active {
                opacity: 1;
            }
        }
    }

    .nav {
        &-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &-listItemIcon {
            display: block;
            width: 25px;
            height: 25px;
            margin-bottom: 12px;

            svg {
                fill: var(--black);
            }
        }

        &-listItemLink {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:hover {
                .nav-listItemIcon svg {
                    fill: var(--grey);
                }

                span {
                    color: var(--grey);
                }
            }
        }
    }
}

@media (--media-desktop) {
    .home {
        &-section {
            height: 100vh;
        }

        .nav {
            &-list {
                flex-direction: row;
            }
        }
    }
}
