@import "@commonVars";

body {
    background: linear-gradient(-45deg, #4fb70d, #e2bf13, #2985d4);
    background-size: 400% 400%;
    animation: gradient 6s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.home {
    color: var(--black);

    &-section {
        text-align: center;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .intro {
        padding-top: 10px;

        &-picture {
            display: block;
            max-width: 150px;
            border-radius: 100%;
            margin: 0 auto 30px;
        }

        .smiley {
            font-size: 22px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 30px;

            span {
                padding: 0 4px;
            }
        }

        .liveCounter {
            opacity: 0;
            transition: 450ms ease-out;
            font-style: italic;
            min-width: 120px;
            display: inline-block;

            &.active {
                opacity: 1;
            }
        }
    }

    .nav {
        &-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-flow: wrap;
        }

        &-listItem {
            width: 50%;
        }

        &-listItemIcon {
            display: block;
            width: 25px;
            height: 25px;
            margin-bottom: 12px;

            svg {
                fill: var(--black);
            }
        }

        &-listItemLink {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (--media-tablet) {
    .home {
        &-section {
            height: 100vh;
        }

        .intro {
            padding-top: 0;
        }

        .nav {
            &-list {
                flex-direction: row;
                flex-flow: nowrap;
            }

            &-listItemLink {
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}
